.charapters__div {
    margin-bottom: 8px;
}

.charapters__input,
.price__input {
    border: 2px solid grey;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}

.price__input::-webkit-outer-spin-button,
.price__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price__input:focus {
    outline: none !important;
    border: 2px solid green;
}

.price__item {
    margin-bottom: 12px;
}

.closeBtn{
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightcoral;
    padding: 4px 8px;
    text-align: center;
    margin: 0 0 0 8px;
    cursor: pointer;
}

#price__currect {
    display: none;
}

.valid {
    border: 2px solid green;
}

.error {
    border: 2px solid red;
}

.visible__currect {
    display: block !important;
} 